.env
node_modules/
dist/
build/
coverage/

.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.swp
*.swo
*.sw
*.bak
*.old


# Ignore all files in the .gitignore directory
.kiro/
.specstory/
.gitignore



assets/

#Ignore windsurf AI rules
.windsurfrules
